.container {
    background-color: rgb(224, 204, 164);
    height: 100vh;
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    flex-flow: column;
    /* justify-content: flex-start; */
    align-items: center;
    /* justify-content: space-between; */
    /* align-items: center;
    align-content: center; */
}

.item {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    flex: 1;
}
.item1 {
    background-color: #ffebee;
    /* align-self: center; */
}
.item2 {
    background-color: #ffcdd2;
}
.item3 {
    background-color: #ef9a9a;
}
.item4 {
    background-color: #e57373;
}
.item5 {
    background-color: #ce93d8;
}
.item6 { 
    background-color: #ab47bc;
}
.item7 {
    background-color: #6a1b9a
}
.item8 {
    background-color: #7986cb;
}
.item9 {
    background-color: #283593;
}
.item10 {
    background-color: #0288d1;
}