body{
    background-color: #535458	
}
header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 150px;
}
.no {
    width: 100px;
}
.main {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.mianitems {
    margin: 10px;   
}
article>h1{
    color: seashell;
    font-size: 80px;
    text-align: center;
}
