body {
    background: black;
    box-sizing: border-box;
        display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.Calculator {
    background: white;
    border: 1px solid #333;
    width: 277px;
}
.Calculator form {
    display: grid;
    grid-template-columns: repeat(4,65px);
    grid-auto-rows: 65px;
    grid-gap: 5px;
}
.Calculator form input {
    border: 1px solid #333;
    cursor: pointer;
    background: white;
}
.Calculator form input:hover {
    box-shadow: 1px 1px 2px #333;
}
.Calculator form input[type="text"] {
    grid-column: 1/5;
}
.Calculator form .clear {
    grid-column: 1/4;
    background: red;
}
.Calculator form .operation {
    background: orange;
}
.Calculator form .result {
    grid-column: 3/5;
}
.Calculator form .dot {
    background: green;
}
