.header_nv {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #dbdbdb;
}
.header_nv2 {
    display: flex;
    width: 935px;
    height: 54px;
    justify-content: space-around;
    align-items: center;
}
.header_text {
    font-size: 30px;
    font-family: 'Style Script', cursive;
    flex: 1;
}
.header_ip {
    width: 209px;
    height: 24px;
    background-color: #fafafa;
    border: 0.5px solid #dbdbdb;
    text-align: center;
    color: #fafafa;
    border-radius: 3px;
    flex: 0.6;
}
.headercontainer {
    display: flex;
    flex: 1;
}
.aa {
    display: flex;
    flex: 1 0 0;
}
.headeritems {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
}
/* .headeritem {
    display: flex;

} */
.icons {
    font-size: 23px;

}